@import '../../theme.scss';

.PrimaryBackground {
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 3.9rem;
  position: relative;
  
  @include phone {
    height: 100vh;
  }
}

.PrimaryCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

.PrimaryText {
  width: 70%;
  text-align: center;
  margin: auto;
  font-size: 6em;
  font-family: 'Tinos';
  position: absolute;
  color: white;
  left: 15%;
  top: 35vh;
  line-height: 1.2em;
  
  @include tablet {
    top: 30vh;
  }
  
  @include phone {
    font-size: 20vw;
  }
}

// @-webkit-keyframes Gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

// @-moz-keyframes Gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

// @keyframes Gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }
